.Rproj.user
.Rhistory
.RData
.Ruserdata
data/all_gene_trinuc_data.RData
inst/doc
inst/tutorial/TCGA.BRCA.mutect.995c0111-d90b-4140-bee7-3845436c3b42.DR-10.0.somatic.maf.gz
inst/tutorial/TCGA.LUAD.mutect.0458c57f-316c-4a7c-9294-ccd11c97c2f9.DR-10.0.somatic.maf.gz
doc
Meta
tmp.rds
